<div class="space-y-5 justify-center flex" >
  <div>
    <%= render PageHeaderComponent.new do %>
      <div class="flex mt-10  -skew-y-12 flex-col justify-center -space-y-10 lg:-space-y-20">
        <%= render LoudMarketingMsgGroupComponent.new(col: 9, color: 'rose', text: 'Auto', color_gap: 200, animate: false) %>
        <%= render LoudMarketingMsgGroupComponent.new(col: 9, color: 'orange', text: 'cover', color_gap: 200, animate: false) %>
        <%= render LoudMarketingMsgGroupComponent.new(col: 9, color: 'yellow', text: 'letter', color_gap: 200, animate: false) %>
      </div>
    <% end %>

    <div class="mt-10">
      <%= render PageDescriptionComponent.new(
        description: "Provide some information about a job and we will generate a cover letter using artificial intelligence."
        )
      %>
    </div>

    <div class="mb-2 mt-2 flex">
      <%= render PrimaryButtonComponent.new(text: 'Start', path: new_job_description_path) %>
    </div>
  </div>
</div>