<div class="space-y-5" >
  <div class="mb-2">
    <%= render PageHeaderComponent.new do %>
      <%= render PageTitleComponent.new(
        title: "Auto Cover Letter")
      %>

      <%= render PageDescriptionComponent.new(
        description: "Provide some information about a job and we will generate a cover letter using artificial intelligence."
        )
      %>
    <% end %>
  </div>

  <div class="mb-2 flex">
    <%= render PrimaryButtonComponent.new(text: 'Start', path: new_job_description_path) %>
  </div>

  <div class="flex flex-col -space-y-20">
    <%= render LoudMarketingMsgGroupComponent.new(col: 9, color: 'rose', text: 'Auto', color_gap: 200, animate: false) %>
    <%= render LoudMarketingMsgGroupComponent.new(col: 9, color: 'orange', text: 'cover', color_gap: 200, animate: false) %>
    <%= render LoudMarketingMsgGroupComponent.new(col: 9, color: 'yellow', text: 'letter', color_gap: 200, animate: false) %>
  </div>
</div>