<div class="space-y-5" >
  <div class="mb-2">
    <%= render PageHeaderComponent.new do %>
      <%= render PageTitleComponent.new(
        title: "AI Cover Letter")
      %>

      <%= render PageDescriptionComponent.new(
        description: "Provide some information about a job and we will generate a cover letter using artificial intelligence."
        )
      %>
    <% end %>
  </div>

  <div class="mb-2 flex">
    <%= render PrimaryButtonComponent.new(text: 'Start', path: new_job_description_path) %>
  </div>

  <div class="justify-center grid grid-rows-1 grid-cols-9" >
    <%= render LoudMarketingMsgComponent.new(text: 'Free', color: 'text-orange-100' ) %>
    <%= render LoudMarketingMsgComponent.new(text: 'Free', color: 'text-orange-300') %>
    <%= render LoudMarketingMsgComponent.new(text: 'Free', color: 'text-orange-500') %>
    <%= render LoudMarketingMsgComponent.new(text: 'Free', color: 'text-orange-700') %>
    <%= render LoudMarketingMsgComponent.new(text: 'Free', color: 'text-orange-900') %>
    <%= render LoudMarketingMsgComponent.new(text: 'Free', color: 'text-orange-700') %>
    <%= render LoudMarketingMsgComponent.new(text: 'Free', color: 'text-orange-500') %>
    <%= render LoudMarketingMsgComponent.new(text: 'Free', color: 'text-orange-300') %>
    <%= render LoudMarketingMsgComponent.new(text: 'Free', color: 'text-orange-100') %>
  </div>
</div>